include include/head.pug

doctype html
html(lang="en")
  +head("Contact Log")
  script(src="/js/table.js", defer)
  
  body
    include include/navbar.pug
    .content
      div(id="sale_form")
        h1 Set sale
        label(for="sale_msg") Sale message
          br
        textarea(type="text", id="sale_msg", name="sale_msg", rows="2", cols="20")
        br
        button(id="set_sale") Set sale
        button(id="end_sale") End sale
        div(id="sale_set_status")
      h1 My Contacts and Information
      table(id="contact_table")
        tr
          td Name
          td Email
          td Type
          td Date
          td Size
          td Time left
          td Delete
        for contact in contacts
          tr 
            td #{contact.name}
            td 
              a(href= `mailto:${contact.email}`) #{contact.email}
            td #{contact.type}
            td #{contact.deadline.toLocaleDateString()}
            td #{contact.size}
            td 
            td 
              button(id=`${contact.id}`) Delete me